h1 {
  color: $primary;
}

.btn-open {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25vmin;
  height: 25vmin;
  margin: 15px;
  padding: 15px;
  white-space: nowrap;
  font-size: 18px;
  text-transform: uppercase;
}

.btn-close {
  border: none;
  padding: 15px;
  cursor: pointer;
  color: $primary;
  background: transparent;
  font-size: 18px;
  font-weight: bold;
}
